.control-container {
  display: flex;
  flex-direction: column;
  margin: 20px 20px 20px 20px;
  align-items: center;
  justify-content: center;

  .overview-container {
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  margin-top: 20px;
}
