<div class="title">
    <h1>Garden Manager</h1>
</div>
<div class="control-container">

    <factory-ui-device-manager
        [deviceManagerItems$]="deviceManagerItems$"
        [overviewImageLink]="'../assets/images/garden-manager.png'"
        [isReadOnly]="(commandExecute$ | async)!"
    ></factory-ui-device-manager>    
</div>