<button mat-raised-button color="primary" (click)="onAuth()" *ngIf='isTokenExpired$ | async'>Authorize Strava</button>
<button mat-raised-button color="primary" (click)="onGetActivities()" *ngIf='!(isTokenExpired$| async)'>Get Activities</button>
<h1>Activities</h1>
<textarea class="text-area" readonly>{{activities$ | async | json}}</textarea>