.connections-table {
  margin: 25px 0;
  min-width: 200px;
}

.connections-table thead tr {
  text-align: left;
}

.connections-table th,
.connections-table td {
  padding: 5px 15px;
}

.connection-card {
  margin: 20px;
  max-width: 300px;
}

.mode-toggles {
  display: flex;
  flex-direction: column;
}
