<mat-card class="connection-card">
    <mat-card-header>
        <div mat-card-avatar>
            <mat-icon color="primary">departure_board</mat-icon>
        </div>
        <mat-card-title>Nächste Verbindung</mat-card-title>
        <mat-card-subtitle>{{ timetableDomainService.remainingSecondsToNextDeparture$ | async | secondsToMinutesSeconds }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>Von: <b>Uzwil</b></p>
        <p>Nach: <b>{{ (timetableDomainService.nextDeparture$ | async)?.Name }}</b></p>
        <p>Abfahrt: <b>{{ (timetableDomainService.nextDeparture$ | async)?.Departure | date:"HH:mm" }} </b></p>
    </mat-card-content>
    <div *ngIf="!(timetableDomainService.nextDeparture$ | async)">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
</mat-card>

<mat-card class="connection-card">
    <mat-card-header>
        <div mat-card-avatar>
            <mat-icon color="primary">schedule</mat-icon>
        </div>
        <mat-card-title>Fahrplan ab Uzwil</mat-card-title>
        <mat-card-subtitle>{{timetableDomainService.currentTime$ | async | date:"HH:mm:ss" }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <table class="connections-table">
            <thead>
                <tr>
                    <th>Abfahrt</th>
                    <th>Nach</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let event of (timetableDomainService.timeTable$ | async)">
                    <td>{{event.Departure}}</td>
                    <td>{{event.Name}}</td>
                    <td>
                        <button mat-icon-button (click)="timetableDomainService.deleteConnection(event.Id)" *ngIf="timetableDomainService.isEditMode$ | async">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </mat-card-content>
    <mat-card-actions *ngIf="timetableDomainService.isEditMode$ | async">
        <button mat-button (click)="openDialog()">Neuer Eintrag</button>
    </mat-card-actions>
    <div *ngIf="!(timetableDomainService.timeTable$ | async)">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
</mat-card>
<div class="mode-toggles">
    <mat-checkbox
        (change)="timetableDomainService.setEditMode($event.checked)"
        [checked]="(timetableDomainService.isEditMode$ | async) ? true : false"
        [color]="'primary'"
        class="edit-mode-checkbox">
        Edit Mode
    </mat-checkbox>
    <mat-checkbox
        (change)="timetableDomainService.setDemoMode($event.checked)"
        [checked]="(timetableDomainService.isDemoMode$ | async) ? true : false"
        [color]="'primary'"
        class="edit-mode-checkbox">
        Demo Mode (No database)
    </mat-checkbox>
</div>
