<div style="text-align:center">
	<div>
		<webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" ></webcam>
	</div>
    <div class="button-section">
        <button mat-raised-button color="primary" (click)="triggerSnapshot()">Bild aufnehmen</button>
    </div>
    <div>
        <img [src]="webcamImage?.imageAsDataUrl" />
    </div>
</div>