<html>
	<head>
		<title>Factory Messaging Client</title>
		<script src="script.js" defer></script>
		<link rel="stylesheet" href="style.css"></link>
	</head>
	<body>
		<h1>Welcome to the Factory Messaging Client</h1>
		<p>Client is listening to: factory-queue-python</p>
        <ul>
			{% for message in messages: %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>
	</body>
</html>  