<h1>Factory UI</h1>
<p>Factory UI is a <a href="https://www.npmjs.com/package/factory-ui">NPM-Package</a> that provides base ui components like dialogs, grids, inputs and so forth.</p>
<p>This page shows all the elements of Factory UI.</p>
<mat-divider></mat-divider>
<div class="demo-area">
    <div class="demo-item">
        <h1>Generic Dialog</h1>

        <button
            mat-raised-button
            color="primary"
            (click)="onOpenGenericDialog()"
        >
        Open Generic Dialog
        </button>
        <!-- <p style="margin-top: 5px;">Dialog Values: {{dialogValues | json}}</p> -->
    </div>

    <div class="demo-item">
      <h1>Table</h1>
      <factory-ui-table [isFilterVisible]="true" [columnDefinitions]="columnDefinitions" [data]="tableData"></factory-ui-table>
    </div>

    <div class="demo-item">
        <h1>Device Manager</h1>
        <app-device-manager-demo></app-device-manager-demo>
    </div>
</div>