<button mat-raised-button color="primary" class="decision-button" (click)="onAdd()">Neuer Eintrag</button>
<button mat-raised-button color="primary" class="decision-button" (click)="onAnalyze()">Auswertung</button>
<button mat-raised-button color="primary" class="decision-button" (click)="onClearAll()">Reset</button>
<factory-ui-table [isFilterVisible]="false" [columnDefinitions]="columnDefinitions" [data]="tableData"></factory-ui-table>