<div style="height: 100vh;">
  <mat-toolbar color="primary">
      <mat-toolbar-row>
          <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
              <mat-icon>menu</mat-icon>
          </button>
          <span>factory.brandadrian.ch</span>
          <span class="menu-spacer"></span>
          <div fxShow="true" fxHide.lt-md>
              <a mat-button routerLink="/info"> Info</a>
              <a mat-button routerLink="/timetable"> Fahrplanassistent</a>
              <a mat-button routerLink="/running-events"> Laufkalender</a>
              <!-- <a mat-button routerLink="/camera"> Kamera</a>-->
              <a mat-button routerLink="/garden-manager-logs"> Garden Manager Logs</a> 
              <a mat-button routerLink="/garden-manager-devices"> Garden Manager Devices</a>
              <a mat-button routerLink="/decision-finder"> Entscheidungsmatrix</a> 
              <a mat-button routerLink="/factory-ui-demo"> Factory UI</a>
              <a mat-button href="https://factory-api.brandadrian.ch/swagger/index.html" target="_blank"> Factory API</a>
              <!-- <a *ngIf="!(authenticationService.isUserLoggedIn$ | async)" mat-button routerLink="/login"> Login</a> -->
              <!-- <ngx-auth-firebaseui-avatar></ngx-auth-firebaseui-avatar> -->
          </div>
      </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
      <mat-sidenav #sidenav>
          <mat-nav-list>
              <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
              <a href="#" mat-list-item routerLink="/info"> Info</a>
              <a href="#" mat-list-item routerLink="/timetable"> Fahrplanassistent</a>
              <a href="#" mat-list-item routerLink="/decision-finder"> Entscheidungsmatrix</a> 
              <a href="#" mat-list-item routerLink="/running-events"> Laufkalender</a>
              <!-- <a href="#" mat-list-item routerLink="/camera"> Kamera</a> -->
              <a href="#" mat-list-item routerLink="/garden-manager-logs"> Garden Manager Logs</a> 
              <a href="#" mat-list-item routerLink="/garden-manager-devices"> Garden Manager Devices</a>
              <a href="#" mat-list-item routerLink="/factory-ui-demo"> Factory UI</a> 
              <a mat-list-item href="https://factory-api.brandadrian.ch/swagger/index.html" target="_blank"> Factory API</a>
              <!-- <a *ngIf="!(authenticationService.isUserLoggedIn$ | async)" href="#" mat-list-item routerLink="/login"> Login</a>  -->
          </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content fxFlexFill class="router-outlet-content">
          <router-outlet></router-outlet>
      </mat-sidenav-content>
  </mat-sidenav-container>
</div>