.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  margin-top: 20px;
}

.control-container {
  margin: 20px 20px 20px 20px;
  align-items: center;
  justify-content: center;
}
