<div class="title">
    <h1>Garden Manager Logs</h1>
</div>
<div class="control-container">
    <span *ngIf="tableData$ | async; let tableData">
        <factory-ui-table [isFilterVisible]="true" [columnDefinitions]="columnDefinitions" [data]="tableData"></factory-ui-table>
    </span>
</div>
